OPENAI_MODEL=gpt-4o-mini
OPENAI_API_KEY=sk-xxx
TAVILY_API_KEY=tvly-xxx
PUSHOVER_API="https://api.pushover.net/1/messages.json"
PUSHOVER_USER=
PUSHOVER_TOKEN=

# Langsmith
export LANGSMITH_TRACING=true
export LANGSMITH_API_KEY=
export LANGCHAIN_PROJECT=report-generator
